@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";

    string DemoAdminUserName = "demoadmin@bugtracker.com";
    string DemoProjectManagerUserName = "demopm@bugtracker.com";
    string DemoDeveloperUserName = "demodev@bugtracker.com";
    string DemoSubmitterUserName = "demosub@bugtracker.com";

    string DemoUserPassword = "Abc&123!";
}

<div class="" id="layoutAuthentication">
    <div id="layoutAuthentication_content" class="d-flex align-items-center justify-content-center">
        <div class="row d-flex">
            <div class="col">
                <div class="card shadow-lg m-5" style="border-radius:20px;width:450px;height:450px;">
                    <div class="card-body d-flex text-center justify-content-center align-items-center">
                        <div>
                            <row>
                                <div class="text-center">
                                    <img class="mt-4 img-fluid" src="~/assets/img/Bug_out.svg" width="300" />
                                </div>
                            </row>
                            <row>
                                <div class="text-center"><a href="https://murilobarbosa.dev/"><small>murilobarbosa.dev</small></a></div>
                            </row>
                            <h2>Use a Demo account.</h2>
                            <form id="account" method="post">

                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" value="@DemoAdminUserName" hidden />
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" value="@DemoUserPassword" hidden />
                                </div>
                                <div>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-sm btn-primary">Admin</button>
                                </div>
                            </form>

                            <form id="account" method="post">

                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" value="@DemoProjectManagerUserName" hidden />
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" value="@DemoUserPassword" hidden />
                                </div>
                                <div>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-sm btn-primary">Project Manager</button>
                                </div>
                            </form>

                            <form id="account" method="post">


                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" value="@DemoDeveloperUserName" hidden />
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" value="@DemoUserPassword" hidden />
                                </div>
                                <div>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-sm btn-primary">Developer</button>
                                </div>
                            </form>

                            <form id="account" method="post">


                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" value="@DemoSubmitterUserName" hidden />
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" value="@DemoUserPassword" hidden />
                                </div>
                                <div>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-sm btn-primary">Submitter</button>
                                </div>

                            </form>


                            <div class="text-center mt-2 mb-2">
                                Or
                                <p>
                                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login with Your Account</a>
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
