@using Microsoft.AspNetCore.Identity
@using BugOut.Services.Interfaces
@using BugOut.Models.Enums

@model BugOut.Models.ViewModels.CompanyInfoViewModel

@inject IAppRolesService RolesService

@{
    ViewData["Title"] = "Index";
   }

<h1 class="text-center mt-3 mb-5">Company Info</h1>

<div class="row row-cols-1 row-cols-md-2 gy-3">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex">
                <h2>@Model.Company.Name</h2>

                @if (User.IsInRole(nameof(Roles.Admin))){

                     <a class="btn btn-sm btn-outline-secondary ms-auto" asp-action="Edit" asp-controller="Companies" asp-route-id="@Model.Company.Id"><i class="fs-5 bi-pencil"></i></a>
                }
               
            </div>

            <div class="card-body" style="overflow-y:scroll;height:400px;">
                <span>@Model.Company.Description</span>
            </div>
        </div>
    </div>

    <div class="col">    
            <div class="card">
                <div class="card-header">
                    <h2>Members</h2>
                </div>
                <div class="card-body" style="overflow-y:scroll;height:400px;background-color:antiquewhite">
                    @foreach (AppUser member in Model.Members)
                    {
                        <div class="">
                            <span class="" style="font-weight:bold;">@member.FullName</span>
                            <h6>@((await RolesService.GetUserRolesAsync(member)).FirstOrDefault())</h6>
                        </div>
                        <hr />
                    }
                </div>
            </div>     
    </div>
</div>



