@model IEnumerable<BugOut.Models.Project>
@using BugOut.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugOut.Services.Interfaces

@inject UserManager<AppUser> UserManager
@inject IAppProjectService ProjectService

@{
    ViewData["Title"] = "All Projects";
    AppUser appUser = await UserManager.GetUserAsync(User);
}



@if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
{

    <p>
        <a asp-action="Create">Create New Project</a>
    </p>

}

<div class="row">

    <div class="col-12">

        <div class="card m-1 p-2">
            <div class="card-header">
                <h1>All Projects</h1>
            </div>
            <div class="card-body">


                <table class="table table-hover" id="datatablesSimpleAllProjects">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileData)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageContentType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProjectPriority)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileData)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageContentType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProjectPriority)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageFileName)
                                </td>
                                <td>
                                    @if (item.ImageFileData != null)
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageContentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                                </td>
                                <td>

                                    @{
                                        bool isProjectManager = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == appUser.Id;
                                    }

                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                                    @if (User.IsInRole(nameof(Roles.Admin)) || isProjectManager)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>


                                        @if (item.Archived)
                                        {
                                            <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- Data Tables-->

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
}