@model IEnumerable<BugOut.Models.Project>
@using BugOut.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugOut.Services.Interfaces

@inject UserManager<AppUser> UserManager
@inject IAppProjectService ProjectService

@{
    ViewData["Title"] = "All Projects";
    AppUser appUser = await UserManager.GetUserAsync(User);
}







<div class="row">
    <h2 class="mt-3">Projects List</h2>
</div>
<div class="row">
    <div class="col">
        @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
        {
            <p>
                <a class="btn rounded-pill bg-danger text-light" asp-action="Create">+ Create Project</a>
            </p>
        }
    </div>
   
    <div class="col-2 d-flex justify-content-end me-3">
        
        @{
            string low = nameof(AppProjectPriority.Low);
            string medium = nameof(AppProjectPriority.Medium);
            string high = nameof(AppProjectPriority.High);
            string urgent = nameof(AppProjectPriority.Urgent);
        }

        <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-filter"></i></i></button>
            <ul class="dropdown-menu">
               
                <li>
                    <a class="dropdown-item" asp-action="AllProjects" asp-controller="Projects">All</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="AllProjects" asp-controller="Projects" asp-route-priority="@low">Low</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="AllProjects" asp-controller="Projects" asp-route-priority="@medium">Medium</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="AllProjects" asp-controller="Projects" asp-route-priority="@high">High</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="AllProjects" asp-controller="Projects" asp-route-priority="@urgent">Urgent</a>
                </li>
                
            </ul>
        </div>
    </div>



</div>

<div class="row row-cols-1 row-cols-md-2 gy-3">


    @foreach (Project project in Model.OrderByDescending(p => p.StartDate))
    {
        <div class="col">
            <div class="card h-100" style="height:15rem">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" style="color:black;">

                                <h4 class="card-title">@project.Name</h4>

                            </a>

                            <span class="badge bg-dark">@project.ProjectPriority?.Name</span>
                            @if (project.Archived)
                            {
                                <span class="badge bg-warning">Archived</span>
                            }

                        </div>

                        @if (User.IsInRole(nameof(Roles.Admin)) || await ProjectService.IsAssignedProjectManagerAsync(appUser.Id, project.Id))
                        {
                            <div class="col-2 d-flex justify-content-end">
                                <div class="dropdown mt-1">
                                    <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id"><i class="fa-regular fa-pen-to-square me-2"></i>Edit</a>
                                        </li>
                                        <li>
                                            @if (!project.Archived)
                                            {
                                                <a class="dropdown-item" asp-action="Archive" asp-controller="Projects" asp-route-id="@project.Id"><i class="fa-solid fa-box-archive me-2"></i><span>Archive</span></a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" asp-action="Restore" asp-controller="Projects" asp-route-id="@project.Id"> <i class="fa-solid fa-trash-can-arrow-up"></i><span>Restore</span></a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }


                    </div>

                </div>
                <div class="card-body">
                    <span class="card-text line-clamp mb-2">@project.Description</span>
                    <span>Tickets: @project.Tickets.Count </span>|
                    <span>Developers: @project.Members.Count </span>

                </div>

                <div class="card-footer">
                    <div>
                        <div class="progress-container progress-info m-b-25">
                            <span class="progress-badge" style="font-size:small">Progress</span>
                            <div class="progress">
                                @* Razor code block *@

                                @{
                                    var start = project.StartDate.DateTime;
                                    var end = project.EndDate.DateTime;
                                    var today = DateTime.Now;
                                    var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                }

                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                    @* Use Progress Bar code variable here *@
                                    <span class="progress-value">@percent%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

</div>



@section scripts {
    <!-- Data Tables-->

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
}