@model IEnumerable<BugOut.Models.Project>
@using BugOut.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugOut.Services.Interfaces

@inject UserManager<AppUser> UserManager
@inject IAppProjectService ProjectService

@{
    ViewData["Title"] = "All Projects";
    AppUser appUser = await UserManager.GetUserAsync(User);
}



@if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
{

    <p>
        <a asp-action="Create">Create New Project</a>
    </p>

}

@* <div class="row">

    <div class="col-12">

        <div class="card m-1 p-2">
            <div class="card-header">
                <h1>All Projects</h1>
            </div>
            <div class="card-body">


                <table class="table table-hover" id="datatablesSimpleAllProjects">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileData)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageContentType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProjectPriority)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileData)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageContentType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProjectPriority)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageFileName)
                                </td>
                                <td>
                                    @if (item.ImageFileData != null)
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageContentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                                </td>
                                <td>

                                    @{
                                        bool isProjectManager = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == appUser.Id;
                                    }

                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                                    @if (User.IsInRole(nameof(Roles.Admin)) || isProjectManager)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>


                                        @if (item.Archived)
                                        {
                                            <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> *@


<div class="row">
</div>
<div class="row">
</div>

<div class="row row-cols-1 row-cols-md-2 gy-3">


    @foreach (Project project in Model)
    {
        <div class="col">
            <div class="card h-100" style="height:15rem">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" style="color:black;">

                                <h4 class="card-title">@project.Name</h4>

                            </a>

                            <span class="badge bg-dark">@project.ProjectPriority?.Name</span>
                        </div>

                        <div class="col-2">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id">Edit</a>
                                        <a asp-action="Archive" asp-controller="Projects" asp-route-id="@project.Id">Archive</a>
                                        <a></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    

                    
                    
                </div>
                <div class="card-body">
                    <span class="card-text line-clamp mb-2">@project.Description</span>
                    <span>Tickets: @project.Tickets.Count </span>|
                    <span>Developers: @project.Members.Count </span>

                </div>

                <div class="card-footer">
                    <div>
                        <div class="progress-container progress-info m-b-25">
                            <span class="progress-badge" style="font-size:small">Progress</span>
                            <div class="progress">
                                @* Razor code block *@

                                @{
                                    var start = project.StartDate.DateTime;
                                    var end = project.EndDate.DateTime;
                                    var today = DateTime.Now;
                                    var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                }

                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                    @* Use Progress Bar code variable here *@
                                    <span class="progress-value">@percent%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

</div>



@section scripts {
    <!-- Data Tables-->

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
}